# Ignore all bazel-* symlinks. There is no full list since this can change
# based on the name of the directory bazel is cloned into.
/bazel-*
/src/bazel-*

# Mac OS
.DS_Store

# Ignore intermediate files.
*.[oa]
*.so
*.obj
*.lib
*.exp
*.dll
*.exe
*.manifest
*.dmp
*.swp
.tags

# Ignore archives
*.zip
*.tar.gz

# Visual Studio
.vs
.vscode
